.Blghdr {
    width: 150px; background:#fff; padding: 10px 15px; font-size:20px; font-weight:bold; border-radius: 4px;
    border-bottom: 4px solid #f39c12;
}
.BlgEch {
    margin: 20px 1%; padding: 10px 4% 10px 2%; background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(72,87,158,0.05);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(72,87,158,0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(72,87,158,0.05);
}
.Blgtop { padding: 5px 0; font-size: 19px; }
.Blgtt2 { padding: 5px 0; font-size: 13.45px; letter-spacing:1px; }
.BlgInr { line-height: 1.7; padding: 5px 0; font-size: 15px; }