.Blvw_mjrC {
    background-color: #fff;
    padding: 20px 30px;
    border-radius:5px;
}
.Blvw_th1 {
    padding: 0 0 10px;
}
.Blvw_tdts {
    font-size: 16px;
    line-height:2;
    word-spacing: 2px;
}

.Blvw_cb1 {
    padding: 30px 0 0;
    font-size: 20px;
}
.Blvw_cb2 {
    width: 68%;
    margin: 10px 0 0 5%;
}
.Blvw_cb2 textarea {
    width: 95%;
    height: 65px;
    padding: 10px;
}
.Blvw_cb2 button {
    padding: 10px 15px 7px;
    font-size:14px;
    font-weight:bold;
    border-radius: 2px;
}
.Blvw_cb3 { font-size: 25px; margin: 25px 0 0 2%; }

.Blvw_lika { margin: 10px 0 0; font-size: 30px; }
.Blvw_lika i { position: relative; bottom: -2px; }
.Blvw_lika > .it_fl:first-child { cursor: pointer; }
.Blvw_lika > .it_fl:active { top: 2px; }


.CmkAtCvr {
    font-size: 17px; font-weight: bold; margin: 30px 0 20px;
    color: #2d3436;
    overflow: visible;
    width: 200px;
    padding: 0 0 10px;
    border-bottom: 4px solid #2d3436;
    position: relative;
}
.CmkAtCvr:before {
    content: ""; width: 0; height: 0;
    display: block; position: absolute;
    bottom: -30px; 
    right: 0;
    left: auto;
    top: auto;
    border: 13px solid transparent;
    border-top-color: black;
}
.CmkAtCvr::after {
    content: "";
    background: #0cbaba;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    display: block;
    position: absolute;
    width: 100%; height: 5px;
    bottom: 0; top: auto;
}


/*--start-- for the comment section */
.Cmk1Cvr {
    background: #fff;
    width: 60%;
    padding: 10px 35px;
    border-radius: 70px; margin: 10px 0;
    box-shadow: 5px 5px 0 #ecf0f1, 8px 8px 0 #fff;
}
.Cmk1Cvr > div { padding: 3px 0; }
.dothethang::after {
    content: '';
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 0;
    border: 3px solid #3eadcf; border-top-left-radius: 70px; border-bottom-left-radius: 70px; border-right: 0;
    animation-name: animateBorder; animation-duration: 3s; animation-fill-mode: forwards; animation-iteration-count: 2;
}
@keyframes animateBorder {
    0% { width: 0%; border-color: gold; }
    25% { width: 100%; border-color: springgreen; }
    50% { width: 30%; border-color: hotpink; }
    70% { width: 100%; border-color: honeydew; }
    100% { width: 1%; border-width: 5px; border-color: #273c75; }
}

.CmkName  {
    text-transform: capitalize;
}
.CmTrash {
    position: absolute;
    top: 29px;
    right: 25px;
    bottom: auto;
    cursor: pointer;
    visibility: hidden;
    transform: scale(2);
}
.CmTrash:active { top: 30px; }
.Cmk1Cvr:hover .CmTrash {
    visibility: visible;
    animation-name: showBin;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes showBin {
    0% { right: 0px; }
    50% { right: 45px; }
    60% { transform: rotateZ(15deg); }
    80% { transform: scale(1.5) rotateZ(-20deg); }
    100% { transform: scale(1); }
}
/*--end-- */