.Blvw_mjrC { background-color: #fff; padding: 20px 30px; border-radius:5px; }
.Blvw_th1 { padding: 0 0 10px; }
.Blvw_tdts { font-size: 16px; line-height:2; word-spacing: 2px; }

.Blvw_cb1 { padding: 30px 0 0; font-size: 20px;}
.Blvw_cb2 { width: 68%; margin: 10px 0 0 5%; }
.Blvw_cb2 textarea { width: 95%; height: 65px; padding: 10px; }
.Blvw_cb3 { font-size: 25px; margin: 25px 0 0 2%; }