.SdrLst1 {
    padding: 15px 0; text-align:center; font-size:22px; font-weight: bold; color: #000;
    background: #0001ff;
    background: linear-gradient(153deg,#0001ff 0%, #00ffbc 80%);
    background: -webkit-linear-gradient(153deg,#0001ff 0%, #00ffbc 80%);
    background: -moz-linear-gradient(153deg,#0001ff 0%, #00ffbc 80%);
}

.SdrDts2 { padding: 5px 10px; }
.SdrDts2 > div { padding: 7px 0; }