.SdrLst1 {
    padding: 15px 10px; font-size:22px; font-weight: bold; color: #fff;
    background: #0001ff;
    background: linear-gradient(153deg,#0001ff 0%, #00ffbc 80%);
    background: -webkit-linear-gradient(153deg,#0001ff 0%, #00ffbc 80%);
    background: -moz-linear-gradient(153deg,#0001ff 0%, #00ffbc 80%);
}

.SdrDts2 { padding: 10px 10px; font-size: 14px; }
.SdrDts2 > div { padding: 15px 0; border-bottom: 2px solid #f1f2f6; }

.ibm_hdr { position: absolute; top: auto; left: 0; right: 0; bottom: 0; }
.ibm_Ech { width:33%; text-align:center; font-size: 25px; font-weight:bold; padding: 0 0 10px; }