body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0f1;
}
h1, h2, h3, p { margin: 0; }
div { display: block; position:relative; overflow:hidden; }
.it_fl { float: left; }
.it_rl { float: right; }

.HmCvr0{ margin: 30px 0; }
.HmLft_sd { width: 20%; background: #fff; height: 450px; }
.HmRgt_sd { width: 55%; margin: 0 0 0 5%; }

a { text-decoration: none; color: rgb(0,0,238); }
a:hover { text-decoration: underline }
.button_blue { position: relative; border: 1px solid transparent; margin: 5px 0; color: #fff !important; text-align: center; background: #3867d6; cursor: pointer; outline: 0; box-shadow: 3px 3px 0 rgba(0,0,0,0.1); }
.button_blue:hover { box-shadow: none; top: -1px; }
.button_blue:active { top: 1px;}