body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0f1;
}
h1, h2, h3, p { margin: 0; }
div { display: block; position:relative; overflow:hidden; }
.it_fl { float: left; }
.it_rl { float: right; }

.HmCvr0{ margin: 30px 0; }
.HmLft_sd { width: 20%; background: #fff; height: 300px; }
.HmRgt_sd { width: 60%; margin: 0 0 0 5%; }